header {
  background: #f2f3f2;

  .header-inner {
    position: relative;
    width: 1000px;
    height: 54px;
    margin: 0 auto;

    .header-logo {
      position: relative;
      background: #fff;
      box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.08);
      z-index: 1000;
      display: inline-block;

      a.header-logo-inner:hover{
        border: #057235 2px solid;
        transition-duration: 0.3s;
        display: block;
      }
      .header-logo-inner {
        width: 180px;
        height: 96px;
        border: #fff 2px solid;
        display: block;

        img {
          width: 134px;
          height: 48px;
        }

        .header-logo-img {
          position: absolute;
          top: 12px;
          left: 23px;
        }

        .header-logo-text {
          position: absolute;
          color: #999999;
          font-size: 1.2rem;
          line-height: 1.2rem;
          top: 70px;
          left: 13px;
          letter-spacing: -0.1rem;
        }
      }

      a.header-logo-link {
        color: #fff;
        text-decoration: none;
        transition-duration: 0.3s;
      }

      a.header-logo-link:hover {
        color: #fff;
        background: #2c9a5c;
        transition-duration: 0.3s;
      }
      .header-logo-link {
        position: absolute;
        display: inline;
        background: #057235;
        padding: 6px 12px;
        font-size: 1.2rem;
        line-height: 1.2rem;
        bottom: -19px;
        right: 2px;
      }
    }

    /* header login*/
    .header-login {
      position: absolute;
      top: 0;
      right: 0;

      .box-user {
        padding: 7px 0;
    
        .btn-group {
          .btn {
            color: $text-color;
            text-transform: uppercase;
            background: #f2f3f2;
            font-weight: bold;
            padding: 10px 10px 10px 20px;
            border-radius: 0px;
            border: none;
            min-width: 10rem;
            font-size: 1.2rem;
            &:focus {
              box-shadow: none;
            }
    
            &:before {
              content: '\f107';
              display: inline-block;
              font: normal normal normal 14px/1 FontAwesome;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              position: relative;
              left: -8px;
              font-weight: 600;
              color: #0c7c40;
            }
    
            span {
              display: inline-block;
              max-width: 150px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              -webkit-line-clamp: 1;
              vertical-align: middle;
              -webkit-box-orient: vertical;
            }
          }
    
          &.show {
            .btn {
              background: #242d28;
              color: #fff;
            }
          }
    
          .dropdown-menu {
            margin: 0;
            background: $bkg-text-color;
            width: 100%;
            border-radius: 0px;
            border: none;
            padding: 0;
            border-top: 1px solid $border-color-2;
    
            .dropdown-item {
              padding: 17px 20px 17px 5px;
              color: $text-white-color;
              cursor: pointer;
              font-weight: 500;
              font-size: 1.2rem;
    
              &:active,
              &:hover,
              &:focus {
                background: $bkg-secondary-color;
                outline: none;
              }
            }
    
            .dropdown-divider {
              margin: 0;
              border-color: $border-color-2;
            }
          }
        }
        img {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          margin-left: 8px;
        }
      }
      li {
        display: inline-block;
        width: 130px;
        height: 40px;
        background: #057235;
        margin: 0 2px 0 0;
        text-align: center;
        font-size: 1.4rem;
        line-height: 4.0rem;

        a {
          color: #fff;
        }
      }
    }
    /* /header login*/

    /*nav bar */
    #gnav {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;

      .gnav {
        position: relative;
        width: 100%;
        height: 50px;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0;

        > li {
          float: left;
          height: 54px;
          line-height: 1.4rem;
          list-style: none;
          font-size: 1.4rem;
          border-left: 1px solid #dadada;
          
          a {
            display: block;
            color: #333;
            padding: 30px 0 10px 8px;
            transition-duration: 0.3s;
            text-decoration: none;
          }
          
          a:hover {
            color: #fff;
            background: #057235;
            transition-duration: 0.3s;
          }
        }

        > li:first-child {
          width: 150px;
          margin: 0 0 0 35%;
        }

        > li:nth-child(2) {
          width: 93px;
        }

        > li:last-child {
          width: 95px;
          border-right: none;
        }

        li:hover {
          background: #f2f3f2;
          transition: all .5s;
        }

        // li {
        //   display: inline-block;
        //   margin: 0 0 0 30px;
        //   padding: 27px 0 5px 8px;
        //   font-size: 1.4rem;
        //   border-left: 1px solid #dadada;

        //   a {
        //     color: #222;
        //   }

        //   a:hover {
        //     color: #fff;
        //     background: #057235;
        //     transition-duration: 0.3s;
        //   }
        // }
      }
    }
  }
}
