header {
  height: 60px;
  background: #f3f3f3;

  a {
    color: #222;
  }
  button {
    font-size: 1.4rem;
  }
  .btn-login {
    background: #067236;
    border-radius: 0;
    padding: 8px 35px;
    font-size: 1.5rem;
    float:right;
    margin-right: 2px;
  }
  .btn-login:hover {
    background: #067236;
  }
  .profile-info {
    font-size: 1.3rem;
    .profile-name {
      display: inline-block;
      float:right;
    }
    .profile-image {
      float: right;
      display: inline-block;
      padding-top: 15px;
      
      .avatar-img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-top: 5px;
      }
    }
  }

}
