.list-user-content {
  .filter-group {
    display: block;

    .row {
      margin-left: 0;
      margin-right: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      border: 1px solid $border-color;
      @include default-radius();
    }

    > form > div > div {
      margin: 0;
    }
  }
}
