
.main {
  float: right;
  width: 750px;
  text-align: left;
  @media screen and (max-width: 767px) {
    float: none;
    width: 100%;
    margin: 0 0 100px 0;
  }

  .page-title {
    font-size: 28px;
    padding: 0 0 10px 0;
    border-bottom: solid 3px #2e3230;
    margin: 0 0 40px 0;
    @media screen and (max-width: 767px) {
      margin: 25px 10px 20px 10px;
      font-size: 1.6rem;
      line-height: 2.0rem;
      padding: 0 0 5px 0;
      border-bottom: double 3px #2e3230;
    }
  }

  .adv-example {
    .adv-example-once {
      display: block;
      margin: 0 0 30px 0;
      padding: 0 0 25px 0;
      border-bottom: 1px solid #dadada;

      .adv-example-one-img {
        margin: 0 0 20px 0;
        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .adv-example-once-title-wrap {
      margin: 0 0 30px 0;
      @media screen and (max-width: 767px) {
      margin: 0 0 15px 0;
      }

      .adv-example-once-title-left {
        float: left;
        width: 535px;
        @media screen and (max-width: 767px) {
          padding: 0 20px;
        }
        .adv-example-once-title {
          position: relative;
          font-size: 2.4rem;
          margin: 0 0 14px 0;
          @media screen and (max-width: 767px) {
            font-size: 1.6rem;
            margin: 0 0 8px 0;
          }

          .pr-icon {
            position: absolute;
            color: #888;
            margin: 0 0 2px 10px;
            padding: 4px 8px;
            border: #dadada 1px solid;
            font-size: 1.0rem;
            vertical-align: middle;
            bottom: 2px;
            @media screen and (max-width: 767px) {
              position: absolute;
              color: #888;
              margin: 0 0 0 8px;
              padding: 2px 5px;
              border: #dadada 1px solid;
              font-size: 0.8rem;
              vertical-align: middle;
              bottom: 2px;
            }
          }
        }
      }

      .adv-example-once-title-right {
        display: table;
        float: right;
        width: 180px;
        margin: 0 0 0 20px;
        @media screen and (max-width: 767px) {
          width: 180px;
          margin: 25px auto 0 auto;
          float:none;
          padding-top: 25px;
        }

        .adv-example-once-link {
          display: table-cell;
          width: 180px;
          height: 48px;
          font-size: 1.6rem;
          text-align: center;
          vertical-align: middle;

          a {
            color: #fff;
            width: 180px;
            height: 48px;
            background: #057235;
            display: table-cell;
            vertical-align: middle;
            transition-duration: 0.3s;
            text-decoration: none;

            &:hover {
              background: #2c9a5c;
              transition-duration: 0.3s;
            }
          }
        }
      }
    }


    .adv-example-once-text {
      font-size: 1.6rem;
      margin: 0 0 5px 0;
      @media screen and (max-width: 767px) {
        font-size: 1.0rem;
        margin: 0 0 15px 0;
        padding: 0 20px;
      }
    }

    .adv-example-once-company-area {
      display: inline;
      font-size: 1.2rem;
      color: #888;
      @media screen and (max-width: 767px) {
        display: inline;
        font-size: 1.0rem;
        color: #888;
        padding: 0 0 0 20px;
      }
    }

    .adv-example-once-company {
      display: inline;
      font-size: 1.2rem;
      color: #888;
      @media screen and (max-width: 767px) {
        display: inline;
        font-size: 1.0rem;
        color: #888;
      }
    }
  }
/* end .adv-example */
  .example-list {
    margin: 0 0 50px 0;

    a {
      &.example-list-once {
        height: 309px;
        width: 249px;
        float: left;
        border-right: #f2f3f2 1px solid;
        margin: 0 1px 0 0;
        padding: 0 0 20px 0;
        text-decoration: none;
        color: #333;
        @media screen and (max-width: 767px) {
          width: 50%;
          border-right: #f2f3f2 1px solid;
          border-bottom: #f2f3f2 2px solid;
          float: left;
          margin: 0;
        }
        &:nth-child(2n) {
          @media screen and (max-width: 767px) {
            width: 50%;
            border-left: #f2f3f2 1px solid;
            border-bottom: #f2f3f2 2px solid;
            float: right;
          }
        }
        &:nth-child(3n) {
          border: none;
          @media screen and (max-width: 767px) {
            border-bottom: #f2f3f2 2px solid;
          }
        }

        &:last-child {
          border-right: #f2f3f2 1px solid;
        }

        .example-list-once-img {
          width: 249px;
          height: 178px;
          overflow: hidden;
          @media screen and (max-width: 767px) {
          width: 100%;
          height: auto;
          overflow: hidden;
          }

          img {
            width: 249px;
            height: 178px;
            object-fit: cover;
            transition-duration: 0.3s;
          }

          img:hover {
            transform: scale(1.1);
            transition-duration: 0.3s;
          }
        }

        .example-list-once-title {
          padding: 15px 15px 10px 15px;
          font-size: 1.4rem;
          line-height: 2.2rem;
        }

        .example-list-once-company-area {
          padding: 0 15px;
          margin: 0 0 5px 0;
          font-size: 1.2rem;
          line-height: 1.2rem;
          color: #888;
        }

        .example-list-once-company {
          padding: 0 15px;
          font-size: 1.2rem;
          line-height: 1.2rem;
          color: #888;
        }
      }
    }

    a {
      &:hover.example-list-once {
        color: #057235;
        .example-list-once-company-area,
          .example-list-once-company {
            color: #057235;
          }
      }
    }
  }
  .search-page-sorry {
    font-size: 1.2rem;
    @media screen and (max-width: 767px){
      padding: 0 20px;
    }
  }
}
/* end.main */

.side {
  float: left;
  width: 180px;
  margin: 0 70px 0 0;
  @import './components/exampleHouse/formSearch';
}
/* .side */
