body, html {
  height: 100%;
}
.login-index,
.forgotpassword-index {
  #root,
  .root-content,
  .wrapper {
    height: 100%;
  }
}

.login-page {
  display: block;
  width: 85%;
  height: 100%;
  margin: 0 auto;
  background: #ececec;

  .login-content {
    display: block;
    position: relative;
    height: 100%;

      .form-center {
        display: block;
        background: #fff;
        max-width: 750px;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        top: 43%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        width: 48%;
        height: 60%;
      }
  }
}

