.top-result {
  padding-left: 0px;
  padding-right: 0px;

  @media screen and (max-width: 767px) {
    padding: 60px 0 0 0;
  }
  /*start .top-result-inner */
  .top-result-inner {
    .top-result-title {
      text-align: center;
      font-size: 2.8rem;

      @media screen and (max-width: 767px) {
        font-size: 1.8rem;
      }

      &::after {
        display: block;
        width: 32px;
        margin: 0 auto;
        content: url('../images/title-dot.png');
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        text-align: center;
      }
    }

    .top-result-text {
      text-align: center;
      font-size: 1.2rem;
      margin: 0 0 40px 0;

      @media screen and (max-width: 767px) {
        font-size: 1.0rem;
        margin: 0 auto 30px auto;
        width: 90%;
      }
    }
  }

  /*end .top-result-inner */
  .slider-wrap {
    margin: 0 auto;
    width: 100%;
    color: #333;
    position: relative;
    background: #f2f3f2;

    .slick-slide  {
      .slider-item {
        overflow: hidden;
        position: relative;
        padding-bottom: 48px;

        a {
          display: block;
          width: 100%;
          height: 480px;
          @media screen and (max-width: 575px){
            height: 320px;
          }
          @media screen and (max-width: 767px){
            height: 360px;
          }
          overflow: hidden;
          transition-duration: 0.3s;
          img {
            opacity: 0.4;
            background: #000;
            width: 100%;
            height: 100%;
            // max-height: 480px;
            object-fit: cover;
            transition-duration: 0.3s;
            @media screen and (max-width: 767px) {
              height: 100%;
            }
          }

          .slider-title {
            visibility: visible !important;
            opacity: 1 !important;
            top: inherit !important;
            bottom: 0px !important;
            left: 5% !important;
            width: 90%;
            height: 96px;
            background: #fff;
            z-index: $zindex-lv-4;
            border-bottom: #656d69 solid 4px;
            padding: 20px 30px;
            transition-duration: 0.3s;
            position: absolute;
  
            h3 {
              text-align: left;
              font-size: 2.0rem;
              margin: 0 0 8px 0;
              opacity: 0.4;
              color: #212529;
  
              @media screen and (max-width: 767px) {
              font-size: 1.4rem;
              margin: 0 0 8px 0;
              }
            }
  
            p {
              text-align: left;
              font-size: 1.4rem;
              opacity: 0.4;
              color: #212529;
  
              @media screen and (max-width: 767px) {
              font-size: 1.0rem;
              }
            }
          }
        }

        
      }

      &.slick-active {
        .slider-item {
          img {
            opacity: 1;
          }
          .slider-title {
            h3 {
              opacity: 1;
            }
            p {
              opacity: 1;
            }
          }
          &:hover {
            cursor: pointer;
            img {
              transform: scale(1.1);
              transition-duration: 0.3s;
            }
            .slider-title {
              border-bottom-color: $bkg-green-color;
              h3, p {
                color: $bkg-green-color;
              }
            }
          }
        }
      }
    }
    /* end .slick-slide */

    .slick-arrow:hover.slick-prev::before, 
    .slick-arrow:hover.slick-prev::after,
    .slick-arrow:hover.slick-next::before,
    .slick-arrow:hover.slick-next::after, {
      background-color: #fff;
      transition-duration: 0.3s;
    }

    .slick-arrow {
      position: absolute;
      width: 56px;
      height: 56px;
      top: 46%;
      cursor: pointer;
      background: rgba(255,255,255,0.7);;
      display: block;
      z-index: $zindex-lv-1;
      @media screen and (max-width: 767px) {
        width: 44px;
        height: 44px;
        top: 38%;
      }

      &:hover {
        background: $bkg-green-color;
        transition-duration: 0.3s;
      }

      &.slick-prev {
        left:20%;
        right: auto;
        @media screen and (max-width: 1200px){
          left: 10%;
        }
        @media screen and (max-width: 767px){
          left: 0px;
        }
        &::before, {
          content: '';
          position: absolute;
          width: 4%;
          height: 13%;
          background-color: $bkg-green-color;
          transition-duration: 0.3s;
          transform: skew(135deg, 45deg);
          left: 45%;
          top: 39%;
        }
        &::after {
          content: '';
          position: absolute;
          width: 4%;
          height: 13%;
          background-color: $bkg-green-color;
          transition-duration: 0.3s;
          transform: skew(-135deg, 135deg);
          left: 45%;
          top: 48%;
        }
      } /*end .slick-prev */

      &.slick-next {
        right: 20%;
        left: auto;
        @media screen and (max-width: 1200px){
          right: 10%;
        }
        @media screen and (max-width: 767px){
          right: 0;
        }
        &::before, {
          content: '';
          position: absolute;
          width: 4%;
          height: 13%;
          background-color: $bkg-green-color;
          transition-duration: 0.3s;
          transform: skew(-135deg, 135deg);
          left: 45%;
          top: 39%;
        }
        &::after {
          content: '';
          position: absolute;
          width: 4%;
          height: 13%;
          left: 45%;
          top: 49%;
          background-color: $bkg-green-color;
          transition-duration: 0.3s;
          transform: skew(135deg, 45deg);
        }
      } /* end .slick-prev */
    } /* end .slick-arrow */
  }
}

