.top-result-search {
  background: #f2f3f2;

  .top-result-search-inner {
    padding: 60px 0;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;

    .top-result-search-title {
      font-size: 2.4rem;
      margin: 0 0 30px 0;
      @media screen and(max-width: 767px) {
        font-size: 1.6rem;
        margin: 0 0 15px 0;
      }
    }

    .slider-search-wrap {
      display: block;
      width: 100%;
      max-width: 100%;
      margin-left: 0px;

      &#my-slider2 {
        margin: 0 0 60px 0;
      }
      .slider-item {
        position: relative;
        padding: 0 7px 20px 7px;
        &:hover {
          img {
            transform: scale(1.1);
            transition-duration: 0.3s;
          }
          .slider-title {
            h3 {
              color: $bkg-green-color;
            }
            border-bottom-color: $bkg-green-color;
          }
        }

        a {
          display: block;
          width: 100%;
          height: 220px;
          overflow: hidden;
          transition-duration: 0.3s;
          @media screen and (max-width: 767px) {
            width: 100%;
            height: auto;
          }

          img {
            width: 100%;
            height: 220px;
            object-fit: cover;
            transition-duration: 0.3s;
            overflow: hidden;
            @media screen and (max-width: 767px) {
              width: 100%;
              height: auto;
            }
          }

        }

        .slider-title {
          border-bottom: #656d69 solid 2px;
          visibility: visible !important;
          opacity: 1 !important;
          top: inherit !important;
          bottom: 0 !important;
          left: 10% !important;
          width: 80%;
          height: 40px;
          background: #fff;
          z-index: 1000;
          padding: 8px 10px;
          margin: 0 auto;
          position: absolute;

          @media screen and (max-width: 767px) {
            visibility: visible !important;
            width: calc(100% - 14px);
            height: 32px;
            padding: 8px 10px;
            opacity: 1 !important;
            top: inherit !important;
            bottom: -10px !important;
            left: 7px !important;
            background: #fff;
            z-index: 1000;
          }

          h3 {
            text-align: center;
            font-size: 1.8rem;
            margin: 0 0 8px 0;
            transition-duration: 0.3s;
            color: #212529;
            @media screen and (max-width: 767px) {
              margin: 0;
              text-align: center;
              font-size: 1.2rem;
            }
          }
        }
      }
      /* end .slider-item */

      .slick-arrow:hover.slick-prev::before, 
      .slick-arrow:hover.slick-prev::after,
      .slick-arrow:hover.slick-next::before,
      .slick-arrow:hover.slick-next::after, {
        background-color: #fff;
        transition-duration: 0.3s;
      }
      .slick-arrow {
        position: absolute;
        width: 56px;
        height: 56px;
        cursor: pointer;
        background: rgb(242, 243, 242);
        display: block;
        z-index: 100;
        @media screen and (max-width: 767px) {
          width: 34px;
          height: 34px;
        }

        &:hover {
          background: $bkg-green-color;
          transition-duration: 0.3s;
        }

        &.slick-prev {
          left: -56px;
          right: auto;
          @media screen and(max-width:767px) {
            left: 0px;
            right: auto;
            top: -20px;
          }

          &::before, {
            content: '';
            position: absolute;
            width: 4%;
            height: 13%;
            background-color: $bkg-green-color;
            transition-duration: 0.3s;
            transform: skew(135deg, 45deg);
            left: 45%;
            top: 39%;
          }
          &::after {
            content: '';
            position: absolute;
            width: 4%;
            height: 13%;
            background-color: $bkg-green-color;
            transition-duration: 0.3s;
            transform: skew(-135deg, 135deg);
            left: 45%;
            top: 48%;
          }
        } /* end .slick-prev */

        &.slick-next {
          right: -56px;
          left: auto;
          top: 44%;

          @media screen and(max-width:767px) {
            right: 0px;
            left: auto;
            top: -20px;
          }
          
          &::before, {
            content: '';
            position: absolute;
            width: 4%;
            height: 13%;
            background-color: $bkg-green-color;
            transition-duration: 0.3s;
            transform: skew(-135deg, 135deg);
            left: 45%;
            top: 39%;
          }
          &::after {
            content: '';
            position: absolute;
            width: 4%;
            height: 13%;
            left: 45%;
            top: 49%;
            background-color: $bkg-green-color;
            transition-duration: 0.3s;
            transform: skew(135deg, 45deg);
          }
        }
      }

      /* end .slick-arrow */
    }
    /* end .slaider-search-wrap */
  }
}