.wrapper {
  display: block;

  .main-wrapper {
    padding: 1.875rem 0;
    min-height: calc(100vh - 124px);
    // overflow: hidden;
    position: relative;
    background: #ececec;

    .main-content {
      z-index: 800;
      transition: 0.3s ease-in-out, width 0.3s ease-in-out;
      // margin-left: 350px;
      margin-left: 230px;
    }
  }
}

img {
  object-fit: cover;
}

a:hover,
a:focus {
  text-decoration: none;
  @include default-transition;
}

.root-wrap {
  display: block;
  padding: 1.375rem 0;
  min-height: 660px;
}

.nav-item {
  position: relative;
  float: left;
  padding: 0.4375rem;
}

.content {
  display: block;
}

.page-title {
  display: block;
  margin: 0 0 2.0625rem;
  padding-bottom: 0.9375rem;
  border-bottom: 4px double $border-color-3;
  font-family: $font-W6;

  h1,
  h2 {
    display: block;
    margin: 0;
    font-weight: bold;
    font-size: 1.5rem;

    i {
      font-size: 1.5rem;
      line-height: 1.5rem;
      margin-right: 15px;
    }

    button.btn {
      float: right;
      font-family: $font-W3;
      font-size: 1rem;
      padding: 6px 16px;
      margin: -4px 0 0;
    }
  }
}

.sub-page-title {
  display: block;
  p {
    margin: 0;
  }
}

.btns-group {
  .btn {
    margin-right: 0.5rem;

    &:last-child,
    &.last-child {
      margin-right: 0;
    }
  }
}

.btn {
  min-width: 100px;

  &.btn-act {
    min-width: 0;
    display: block;
    height: 24px;
    text-align: center;
    margin: 0 0 5px;

    &.last-child,
    &:last-child {
      margin: 0;
    }
  }
}

.content {
  &:after {
    content: '';
    display: block;
    overflow: hidden;
    height: 0;
    line-height: 0;
    clear: both;
  }
}

.form-group {
  .invalid-feedback {
    position: absolute;
    bottom: -17px;
    left: 0;
    @include text-overflow-multiple-lines();
  }
}

.col-no-mg {
  .col-12 {
    margin-bottom: 0 !important;
  }
}

.form-datepicker {
  .react-datepicker__triangle {
    display: none;
  }

  .react-datepicker__day-name {
    font-size: 0.5625rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
  }
  .form-datepicker .react-datepicker__day-name,
  .form-datepicker .react-datepicker__day,
  .form-datepicker .react-datepicker__time-name {
    width: 1.4375rem;
  }

  .react-datepicker__day--keyboard-selected,
  .react-datepicker__day--selected,
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--in-range {
    background: $bkg-secondary-color;
  }

  .input-group-text {
    background: none;
    border: 0 none;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.1;
  }

  > div.react-datepicker-wrapper {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    > div {
      display: block;
      > div {
        width: 100%;
      }
    }
  }

  .react-datepicker {
    font-size: 1.1rem;
    border: 5px solid #7c7c7c;
  }
}

.fr-box.fr-basic .fr-element {
  min-height: 150px;
}

.react-select {
  .react-select-ops {
    z-index: 5;
    .css-vj8t7z,
    .css-2o5izw {
      min-height: 32px;
      background-color: $input-bg;
    }

    .css-2o5izw {
      background-color: #fff;
      border-color: #80bdff;
      outline: 0;
      -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      -moz-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);

      &:hover,
      &:focus,
      &:active {
        background-color: #f6f6f6;
        border-color: #80bdff;
        outline: 0;
        -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        -moz-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);

        &.css-15k3avv {
          background-color: #f6f6f6;
          border-color: #80bdff;
          outline: 0;
          -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          -moz-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
      }
    }
    .css-1ep9fjw,
    .css-1uq0kb5 {
      padding: 5px;
    }
  }
}
