.filter-group {
  display: block;

  .filter-title {
    display: block;
    background: #e0e0e0;
    padding: 12px 21px;
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      width: 12px;
      height: 12px;
      background: #aaa;
      border-radius: 100%;
      display: block;
      position: absolute;
      top: 50%;
      left: -6px;
      margin-top: -6px;
    }

    h4 {
      display: block;
      margin: 0;
      font-family: $font-W6;
      font-weight: bold;
      font-size: 1rem;
      line-height: 18px;
    }
  }

  .filter-body {
    display: block;
    padding: 1.875rem 2.5rem;
    background: $bkg-white-color;

    .form-group {
      label {
        overflow: hidden;

        em {
          float: right;
          font-style: normal;
          font-size: 0.625rem;
          padding: 0 2px;
          background: $bkg-secondary-color;
          color: $text-white-color;
          border-radius: 2px;
          margin: 0 0 0 5px;
        }
      }
    }

    .btns-group {
      .btn {
        font-size: 0.875rem;
        text-align: center;
        min-width: 7.5rem;
      }
    }
  }
}
