.user-edit-profile {
  margin-top: 45px;
  
  .account-avatar {
    margin: 0 0 2rem;
  }
  .info.ed {
    padding: 0;
    p {
      margin: 0;
    }
  }

  .form-user-info {
    .col-12 {
      margin: 0;
    }
  }
}
