.contact-body {
  border: #f2f3f2 20px solid;
  margin-bottom: 100px;
  .contact-form {
    margin: 0;
    padding: 0;
    .contact_table_tr {
      display: table;
      border-bottom: 1px solid #dadada;
      width: 100%;
      .contact_table_th {
        display: table-cell;
        width: 25%;
        font-size: 1.4rem;
        padding: 30px 20px;
        line-height: 1.4rem;
        font-weight: bold;
        vertical-align: middle;
        span {
          margin: 0 0 0 10px;
          background: #057235;
          font-size: 10px;
          color: #fff;
          padding: 4px;
          letter-spacing: 0.1rem;
          vertical-align: top;
        }
      }

      .contact_table_td {
        display: table-cell;
        width: 75%;
        font-size: 1.4rem;
        padding: 30px 20px 30px 0;
        input {
          padding: 10px 15px;
          line-height: 1.4rem;
          width: 100%;
        }
        .contact_table_td_input {
          position: relative;
        }
        .wpcf7-form-control-wrap {
          position: relative;

          .wpcf7-list-item {
            display: inline-block;
            margin: 0 0 0 1em;

            input {
              display: none;
            }

            .wpcf7-list-item-label {
              padding-left: 25px;
              position: relative;
              margin-right: 25px;
              font-size: 1.4rem;

              &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 16px;
                height: 16px;
                border: 1px solid #dadada;
                border-radius: 3px;
                background: #f2f3f2;
              }
              &:after {
                content: "";
              }
            }
            .wpcf7-list-item input:checked + .wpcf7-list-item-label,
            .wpcf7-list-item input[type="hidden"] + .wpcf7-list-item-label{
              color: #057235;
            }
            .wpcf7-list-item input:checked + .wpcf7-list-item-label::after,
            .wpcf7-list-item input[type="hidden"] + .wpcf7-list-item-label::after{
              content: "";
              display: block;
              position: absolute;
              top: 1px;
              left: 5px;
              width: 6px;
              height: 11px;
              transform: rotate(40deg);
              border-bottom: 2px solid #057235;
              border-right: 2px solid #057235;
            }
            .wpcf7-list-item input[type="hidden"]  + .wpcf7-list-item-label::after{
              content: "";
              display: block;
              position: absolute;
              top: 1px;
              left: 5px;
              width: 6px;
              height: 11px;
              transform: rotate(40deg);
              border-bottom: 2px solid #057235;
              border-right: 2px solid #057235;
            }
          } /* end .wpcf7-list-item */
        }
      }
      .addressbar {
        p {
          display: inline;
          line-height: 40px;
          input[type="text"] {
            display: inline;
            width: 100px;
            margin: 0 5px;
          }
        }
        .attention {
          display: block;
        }
      }
    }
  }
}

.choices-item {
  display: inline-block;
  position: relative;
  margin-right: 25px;
  font-size: 1.4rem;
}

.choices-input {
  display: none;
}
.choices-parts {
  padding-left: 25px;
  position: relative;
  font-size: 1.4rem;
  @media screen and (max-width: 767px) {
    color: #fff;
    display: flex;
    padding-left: 25px;
    position: relative;
    margin: 0 20px 0 0;
    font-size: 1.2rem;
  }
}

.choices-parts::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #dadada;
  border-radius: 3px;
  background: #f2f3f2;
}

.choices-input:checked + .choices-parts{
  color: #057235;
}

.choices-input:checked + .choices-parts::after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 5px;
  width: 6px;
  height: 11px;
  transform: rotate(40deg);
  border-bottom: 2px solid #057235;
  border-right: 2px solid #057235;
}

