.content .header {
	color: orange;
	text-align: center;
	height:120px;
	background:orange;
}
.content{
	width:50%;
	margin:auto;
}
.tablecontext
{
	width:100%;
	margin: auto;
	width:100%;
	border:none;
}
.tablecontext td
{
	height: 30px;
	padding: 5px;
	border-collapse: collapse;
}

.tablecontext th
{
	font-size:20px;
	text-align:left;
	padding-left:20px;
	height:80px;
}
.content .title
{
	width:100%;
	height:100px;

}
.icontile
{
	width:20px;
	height:inherit;}
.textitle
{
	font-size:20px;
	color:blue;
}
.footer
{
	background: black;
	height:50px;

}
.trchil
{
	background-color: #f2f2f2;
}