header {
  background: #f2f3f2;
  &.sp {
    background: #fff;
  }

  .header-inner {
    position: relative;
    width: 1000px;
    height: 54px;
    margin: 0 auto;

    .header-logo {
      position: relative;
      background: #fff;
      box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.08);
      z-index: 1000;
      display: inline-block;

      a.header-logo-inner:hover{
        border: $bkg-green-color 2px solid;
        transition-duration: 0.3s;
        display: block;
      }
      .header-logo-inner {
        width: 180px;
        height: 96px;
        border: #fff 2px solid;
        display: block;

        img {
          width: 134px;
          height: 48px;
        }

        .header-logo-img {
          position: absolute;
          top: 12px;
          left: 23px;
        }

        .header-logo-text {
          position: absolute;
          color: #999999;
          font-size: 1.2rem;
          line-height: 1.2rem;
          top: 70px;
          left: 13px;
          letter-spacing: -0.1rem;
        }
      }

      a.header-logo-link {
        color: #fff;
        text-decoration: none;
        transition-duration: 0.3s;
      }

      a.header-logo-link:hover {
        color: #fff;
        background: $bkg-green-color-hover;
        transition-duration: 0.3s;
      }
      .header-logo-link {
        position: absolute;
        display: inline;
        background: $bkg-green-color;
        padding: 6px 12px;
        font-size: 1.2rem;
        line-height: 1.2rem;
        bottom: -19px;
        right: 2px;
      }
    }

    /* header login*/
    .header-login {
      position: absolute;
      top: 0;
      right: 0;

      .box-user {
        padding: 7px 0;
    
        .btn-group {
          .btn {
            color: $text-color;
            text-transform: uppercase;
            background: #f2f3f2;
            font-weight: bold;
            padding: 10px 10px 10px 20px;
            border-radius: 0px;
            border: none;
            min-width: 10rem;
            font-size: 1.2rem;
            &:focus {
              box-shadow: none;
            }
    
            &:before {
              content: '\f107';
              display: inline-block;
              font: normal normal normal 14px/1 FontAwesome;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              position: relative;
              left: -8px;
              font-weight: 600;
              color: #0c7c40;
            }
    
            span {
              display: inline-block;
              max-width: 150px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              -webkit-line-clamp: 1;
              vertical-align: middle;
              -webkit-box-orient: vertical;
            }
          }
    
          &.show {
            .btn {
              background: #242d28;
              color: #fff;
            }
          }
    
          .dropdown-menu {
            margin: 0;
            background: $bkg-text-color;
            width: 100%;
            border-radius: 0px;
            border: none;
            padding: 0;
            border-top: 1px solid $border-color-2;
    
            .dropdown-item {
              padding: 17px 20px 17px 5px;
              color: $text-white-color;
              cursor: pointer;
              font-weight: 500;
              font-size: 1.2rem;
    
              &:active,
              &:hover,
              &:focus {
                background: $bkg-secondary-color;
                outline: none;
              }
            }
    
            .dropdown-divider {
              margin: 0;
              border-color: $border-color-2;
            }
          }
        }
        img {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          margin-left: 8px;
        }
      }
      li {
        display: inline-block;
        width: 130px;
        height: 40px;
        background: $bkg-green-color;
        margin: 0 2px 0 0;
        text-align: center;
        font-size: 1.4rem;
        line-height: 4.0rem;

        a {
          color: #fff;
        }
      }
    }
    /* /header login*/

    /*nav bar */
    
  }

  .drawer-navbar {
    position: relative;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.15);
    height: 48px;
    .drawer-container {
      margin-right: auto;
      margin-left: auto;

      .drawer-navbar-header-logo {
        position: absolute;
        top: 10px;
        left: 14px;

        img {
          position: absolute;
          width: 100px;
          height: auto;
        }
      }

      .drawer-navbar-header-text {
        position: absolute;
        top: 22px;
        left: 125px;
        color: #212529;
      }

      .drawer-btn {
        position: fixed;
        z-index: 9999;
        top: 0;
        right: 0;
        display: block;
        box-sizing: content-box;
        width: 18px;
        height: 18px;
        padding: 15px;
        -webkit-transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
        transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        border: 0;
        outline: 0;
        background-color: $bkg-green-color;
        .drawer-btn-icon {
          width: 100%;
          height: 2px;
          -webkit-transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
          transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
          background-color: #fff;
          position: relative;
          display: block;

          &:before, &:after {
            width: 100%;
            height: 2px;
            -webkit-transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
            transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
            background-color: #fff;
            position: absolute;
            top: -7px;
            left: 0;
            content: ' ';
          }

          &:after {
            top: 7px;
          }
        }
      }
    }
  }
}

.react-drawer-drawer {
  z-index: 999;
  width: 65%;
  height: 100%;
  color: #222;
  background-color: #fff;
  overflow: hidden;
  padding: 55px 0;
  .drawer-menu-title {
    font-size: 1.4rem;
    border-bottom: #dadada solid 1px;
    margin: 0 0 5px 0;
    padding: 0 0 10px 0;
    text-indent: 10px;
  }

  ul {
    padding: 0;
    &.drawer-menu-right {
      padding: 0 0 20px 0 !important;
      li {
        display: block;
        text-indent: 15px;
        a {
          color: #222;
          font-size: 1.2rem;
          display: block;
          padding: .75rem;
        }
      }
    }
  }
}
