.filter-group {
  width: 100%;
  .filter-button-open {
    display: block;
    position: relative;
    background: #2e3230;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: 15px 0;
    pointer-events: all;

    i {
      position: absolute;
      top: 15px;
      right: 30px;
    }
  }

  .filter-block {
    .filter-block-inner {
      position: relative;
      padding: 30px;
      background: #2e3230;

      @import './components/exampleHouse/formSearch';

      .filter-button-close {
        position: absolute;
        background: #057235;
        color: #fff;
        bottom: -35px;
        right: 10px;
        color: #fff;
        width: 48px;
        height: 48px;
        font-size: 1.4rem;
        padding: 16px;

        .css-cancel {
          display: inline-block;
          position: relative;
          margin: 0 20px 0 7px;
          padding: 0;
          width: 2px;
          height: 16px;
          background: #fff;
          transform: rotate(45deg);
          &:before {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            left: -7px;
            width: 16px;
            height: 2px;
            margin-top: -1px;
            background: #fff;
          }
        }
      }
    }
  }

}
